.hide {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.show {
  opacity: 1;
}

.snackbarContainerRoot {
  left: 0 !important;
  bottom: 0 !important;
}

.notistack-CollapseWrapper {
  padding: 0 !important;
}

::selection {
  color: #2b4b2a;
  background: #db372d;
}

@media (hover: none), (pointer: coarse), (-moz-touch-enabled: 1) {
  .scroll-horizontal {
    overflow: scroll !important;
    overflow: overlay !important;
    overflow-x: scroll !important;
    overflow-x: overlay !important;
    overflow-y: hidden !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;

    & > div {
      transform: none !important;
      position: relative;
    }

    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
